* {
    border: 1px dashed hotpink;
}

html {
    font-size: 2rem;
}

ul {
    list-style: none;
    display:block;
}

a {
  display:inline-block;
  border-radius: 50px;
}

li {
    /*border: 2px solid red;*/
    border-radius: 50px;
    display:inline-block;
}
